# DB configs below
#######################################################

# The location where database files are stored
DB_DATA_LOCATION=./postgres

# Connection secret for database. You should change it to a random password
# No special characters please, this follows 'A-Za-z0-9'
DB_PASSWORD=postgres

# Connection Port
DB_PORT=5432

# The values below are okay to keep untouched
#######################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=manverse